.hall-games{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text{
  display: flex;
  flex-direction: row;
  text-align: center;
}
.title-dec{
  text-align: center;
  align-items: center;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 3rem;
  color: white;
}
